.header{
  background-color: rgba(32, 98, 178, 0.536);
  display: flex;
  justify-content: space-between;
align-items: center;
padding: 10px 20px;
margin: 5px;

}
.btn{
  background-color: rgba(122, 44, 44, 0);
  border: 2px solid white;
  color: rgb(100, 243, 34);
  border-radius: 20%;
  
}

.logo{
  text-decoration: wavy underline;
}